page-about-us {
    .content {   background: linear-gradient(to right,#aff2a9,#07ef41 );
    }
    img {
        
    }
    .information {
        background-color: #e0f5fc;
        font-size: 16px;
        height: 60%;
        border-radius: 3%
    }
    
}
