page-login {
.content {   background: linear-gradient(to right,#00b1d8,#07ef41 );
            padding-top: 5%;
}
img {
    width: 40%;
    height: 40%;
}
ion-item {
    background-color: transparent !important;

    ion-label {
             color: black !important; 
            }
    ion-input {
        color: aliceblue;
    }
    }

}

