page-add-a-medicine-record {
.button-record {
    padding-top: 30%
}
.info {
    margin-top: 20%
}
.scroll-content {
    background-color: #eff2f7
}
h1 {
    color: #1f3460;
}
p {
    color: #4c7adb
}
img {
    width: 100%;
}

}
